.container {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display : flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  font-size: 2rem;
}
