.close {
  border: none;
  padding: 1.4rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  z-index: 1001;


  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.684);
    padding: 0 0 4px 2px;
  }
}
