.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #271c11;
  // background: radial-gradient(circle,rgba(125, 89, 55, 1) 33%, rgb(41, 24, 14) 100%);
  // zoom:0.7;

}

.game {
  overflow: hidden;
  position: relative;

  transform-origin: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;


  // @media (max-height: 800px) {
  //   zoom: 0.98;
  // }

  // @media (max-height: 830px) {
  //   zoom: 0.96;
  // }

  // @media (max-height: 797px) {
  //   zoom: 0.90;
  // }

  // @media (max-height: 749px) {
  //   zoom: 0.85;
  // }

  // @media (max-height: 705px) {
  //   zoom: 0.76;
  // }

  // @media (max-height: 630px) {
  //   zoom: 0.74;
  // }

  // @media (max-height: 614px) {
  //   zoom: 0.72;
  // }
}


.wall {
  image-rendering: pixelated;
  position: relative;
  background-size: 293px auto;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close {
  background: url(../../assets/img/close_img.png);
  width: 60px;
  height: 48px;
  background-size: cover;
  z-index: 2;
  position: absolute;
  right: 56px;
  top: 36px;
  cursor: pointer;
  filter: drop-shadow(2px 9px 4px rgba(0, 0, 0, 0.35));
}


.windowImg {
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  background-size: cover;
  left: 303px;
  top: 8px;
  width: 664px;
  filter: drop-shadow(6px 6px 4px rgba(43, 39, 30, 0.4));
  height: 466px;
}

.paint {
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  right: 166px;
  top: 212px;
  width: 131px;
  height: 169px;
  background-size: cover;
  filter: drop-shadow(2px 9px 4px rgba(0, 0, 0, 0.35));
}

.hanged_plant {
  background-repeat: no-repeat;
  transform: rotateY(190deg);
  z-index: 1;
  position: absolute;
  right: 60px;
  top: 0px;
  width: 131px;
  height: 240px;
  background-size: cover;
  filter: drop-shadow(2px 9px 4px rgba(0, 0, 0, 0.35));
}

.side_board {
  background-repeat: no-repeat;
  transform: rotateY(190deg);
  z-index: 1;
  position: absolute;
  right: 86px;
  top: 0px;
  width: 131px;
  height: 240px;
  background-size: cover;
  filter: drop-shadow(2px 9px 4px rgba(0, 0, 0, 0.35));
}

.shelf {
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  left: 4px;
  top: 181px;
  background-size: cover;
  width: 276px;
  height: 159px;
  filter: drop-shadow(7px -1px 1px rgba(0, 0, 0, 0.19));
}

.floor {
  width: 100%;
  height: 109px;
  background-repeat: repeat-x;
  bottom: 0px;
  position: absolute;
}


.message {
  position: absolute;
  bottom: 62px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  filter: drop-shadow(9px 19px 44px rgba(0, 0, 0, 0.8));
  z-index: 6;

  &Left {
    background-size: cover;
    width: 64px;
    height: 112px;
    background-image: url(../../assets/img/message.png);

  }

  &Middle {
    // background-size: cover;
    height: 112px;
    background-image: url(../../assets/img/message_middle.png);
    background-repeat: repeat-x;
    background-size: auto 112px;

    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &Right {
    background-size: cover;
    width: 64px;
    height: 112px;
    background-image: url(../../assets/img/message.png);
    transform: rotateY(180deg);
  }
}

.notebook {
  height: 84px;
  width: 118px;
  background-size: cover;
  z-index: 4;
  bottom: 26px;
  left: 333px;
  position: absolute;
}

.flower_pot {
  height: 127px;
  width: 137px;
  background-size: cover;
  z-index: 4;
  bottom: 335px;
  left: 24px;
  position: absolute;
}

.lamp {
  height: 131px;
  width: 107px;
  background-size: cover;
  z-index: 4;
  bottom: 56px;
  left: 217px;
  position: absolute;
  filter: drop-shadow(2px 9px 4px rgba(0, 0, 0, 0.35));
}

.lamp_light {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  z-index: 7;
  bottom: 65px;
  left: 232px;
  border: 45px solid rgba(255, 255, 0, 0.059);
  position: absolute;
  filter: drop-shadow(2px 9px 4px rgb(255, 255, 0));
}

.table {
  background-image: url(../../assets/img/table.png);
  background-size: cover;
  width: 1091px;
  height: 128px;
  z-index: 3;
  width: 100%;
  // overflow-x: hidden;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-around;

  // position: relative;
}



.plant {
  position: absolute;
  z-index: 4;
  pointer-events: none;
  background-size: cover;
  width: 144px;
  height: 188px;
  scale: 1;
  bottom: 12px;
  right: 204px;
}

.aquarium {
  position: absolute;
  z-index: 4;
  pointer-events: none;
  background-size: cover;
  width: 134px;
  height: 126px;
  /* scale: 1; */
  bottom: 51px;
  right: 208px;
  filter: drop-shadow(4px 9px 4px rgba(0, 0, 0, 0.25));
}