@use '../../styles/variables' as *;
@use '../../styles/mixins' as m;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(6px);
  background: #F2F3D9;
  border-bottom: 1px solid $color-border;
  width: 100%;

  &__inner {
    max-width: 80rem;
    margin: 0 auto;
    padding: $spacing-3 $spacing-4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: $spacing-3;
    font-weight: 600;
    font-size: 1.125rem;
    &-button {
      background: none;
      border: 0;
      cursor: pointer;
      white-space: nowrap;
    }
    &-button:hover {
      opacity: 0.8;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: $spacing-3;
  }

  &__btn {
    @include m.button-base;
  }
}

.tabs {
  max-width: 80rem;
  margin: 0 0.75rem;
  display: flex;
  gap: $spacing-2;
  
  &__btn {
    @include m.button-base;
  }
  
}