@use "../../../../styles/mixins" as m;
.sprint_result{
    @include m.card;
    color: #000000;
    font-size: 1.5rem;
    height: fit-content;
    padding: 20px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & button {
        border: 1px solid;
        background-color: transparent;
        font-size: 2rem;
        cursor: pointer;
        padding: 6px 18px;
    }
}