@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  max-height: 900px;
  width: 100%;
}

.article {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  &_choice {
    @include m.card;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0 40px;
    height: 100px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    border: none;
    font-size: 2rem;

    & button {
      background-color: transparent;
      border: none;
      font-size: 2rem;
    }
  }

  &_answered {
    @include m.card-deck($border: 2px, $before-transform: translatey(6%) rotate(0deg) translatex(4%), $after-transform: translatey(2%) rotate(0deg) translatex(2%));

    padding: 1rem;
    border: 2px solid;
    background-color: $color5;
    width: 200px;

    &_word {
      font-size: 1.2rem;
    }
    &_translation {
      font-size: 1rem;
      color: #434343;
    }
  }
}

.card {
  @include m.card-deck;
  background-color: $color5;
  border: 4px solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #151515;
  height: 70%;
  padding: 1rem;

  &_image {
    border: 3px solid #000000;
    height: 80%;
    min-width: 600px;
    overflow: hidden;
    z-index: 1;

    & img {
      width: 100%;
      background-size: contain;
    }
  }

  &_word {
    font-size: 2rem;
    z-index: 1;
  }

  &_translation {
    font-size: 1.5rem;
    z-index: 1;
    color: #222222;
  }
}
