.pointer {
  background-image: url(/article_trainer/src/assets/img/pointer.png);
  z-index: 3;
  background-size: cover;
  width: 45px;
  height: 37px;
  position: absolute;
  top: 126px;
}

.order {
  margin-top: 34px;
  position: relative;
  display: inline-flex;
  filter: drop-shadow(9px 19px 44px rgba(0, 0, 0, 0.8));
  z-index: 2;

  &_left {
    width: 55px;
    height: 121px;
    background-image: url(/article_trainer/src/assets/img/order_border.png);

  }

  &_midle {
    height: 121px;
    background-image: url(/article_trainer/src/assets/img/order_border_middle.png);
    background-repeat: repeat-x;

    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &_right {
    width: 55px;
    height: 121px;
    background-image: url(/article_trainer/src/assets/img/order_border.png);
    transform: rotateY(180deg);
  }
}

.article {
  margin: 0px 30px;
}

.correct {
  position: absolute;
  top: 47px;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url(/article_trainer/src/assets/img/correct.png);
}

.wrong {
  position: absolute;
  top: 47px;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-image: url(/article_trainer/src/assets/img/wrong.png);
}
