@use "../../../styles/variables" as *;

.brand {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  font-weight: 600;
  font-size: 1.125rem;
  &-button {
    background: none;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
  }
  &-button:hover {
    opacity: 0.8;
  }
}
