// src/styles/_base.scss
@use "variables" as *;

* { box-sizing: border-box; }
html, body, #root { height: 100%; }
html {
  font-size: 16px;

  @media  screen and (min-width: 800px) and (max-width: 1000px) {
    font-size: 22px;
  }
}
body {
  margin: 0;
  font-family: $font-family;
  color: $color-text;
  background: $color-bg;
}
a { color: inherit; }
button { font-family: inherit; }



