@use "variables" as *;
@use "mixins" as m;


#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  max-width: 80rem;
}
.app {
  background: $color-bg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

