@use "./variables" as *;

@mixin card {
  box-shadow: 6px 6px 0 0 #000000;
  color: #f8f8f8;
  padding: $spacing-4;
  background-color: $color5;
}

@mixin button-base {
  font-size: 14px;
  padding: 4px 8px;
  margin: 0 8px 0 0;

  background: $color5;
  color: #1a1a1a;

  border: 2px solid #0f101d;
  box-shadow: 0 0 0 4px #1d1f38, 4px 4px 0 4px #0b0b14; /* имитация толстых пиксельных рамок */
  border-color: transparent;

  text-transform: uppercase;
  cursor: pointer;

  image-rendering: pixelated;
  text-decoration: none;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover {
    background: $color5;
    transform: translate(-0.5px, -0.5px); /* кнопка слегка поднимается */
  }

  &[aria-current="page"] {
    background: $color5;
    color: #111826;
    box-shadow: 0 0 0 4px #0a0a0a, 2px 2px 0 4px #0a0a0a;
    transform: translate(0.5px, 0.5px);
  }
}

@mixin button-controls($img: null) {
  background-color: transparent;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;

  @if $img != null {
    mask: url(#{$img}) no-repeat center;
    mask-size: contain;
  }
}

@mixin card-deck(
  $bg-color: $color5,
  $border: 4px,
  $before-transform: translatey(-1%) rotate(-2deg) translatex(-1%),
  $after-transform: translatey(-1%) rotate(2deg) translatex(-1%)
) {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: $bg-color;

    width: 100%;
    height: 100%;
    border: $border solid;
    transform-origin: center center;
  }

  &::before {
    transform: $before-transform;
  }

  &::after {
    transform: $after-transform;
  }
}
