@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as m;

.actions {
  display: flex;
  align-items: center;
  gap: $spacing-3;

  @media screen and (max-width: 988px) {
    display: none;
  }
  &_btn {
    @include m.button-base;
  }
}
