@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as m;

.learn {
  @include m.card;
  
  background-color: $color3;
  cursor: pointer;
  background-position: bottom right;
  background-repeat: no-repeat;

  @media screen and (max-width: 638px) {
    background-image: unset !important;
  }
}
