@use "../../../../styles/variables" as *;

.trainWords {
  width: 100%;
  height: 100%;
  display: grid;
  max-height: 800px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, minmax(0, 1fr));
  grid-template-areas:
    "a b"
    "a c"
    "d f"
    "e f";
  gap: 1rem;
  padding: $spacing-4;
}
