@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as m;

.mistakes {
  width: 80rem;
  padding: 0 $spacing-4;

  @media screen and (max-width: 500px) {
    padding: 0;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
}

// -----------------------------повторение логики из CardBody-----------------------------------------------------------------

.continueLearning {
  z-index: 1;
  border: 1px solid;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5848c4;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 4px -2px 0px #fff, 11px -4px 17px #000000ba;
    letter-spacing: 6px;
    outline: none;
    
    @media screen and (max-width: 998px) {
      font-size: 2rem;
    }
  }
  
  span {
    font-size: 2rem;
    color: #5848c4;
    text-shadow: 2px -2px 0px #fff, 11px -4px 17px #000000ba;
    text-shadow: 5px -2px 17px #000000ba;

    @media screen and (max-width: 998px) {
      display: none;
    }
  }
  
  .icon {
    width: 70px;
    height: 70px;
    fill: #00000000;
    @media screen and (max-width: 998px) {
      display: none;
    }
  }
}
