@use "../../styles/variables" as *;
@use "../../styles/mixins" as m;



.stats{
  width: 80rem;
  padding: $spacing-4;
}

.kpi {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}


.card {
  @include m.card;
  background-color: $color3;
}