@use "../../../../styles/mixins";

.article {
  @include mixins.button-base;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  &Arrow {
    width: 0;
    height: 0;
    border-style: solid;

    &_top {
      border-width: 0 8px 8px 8px;
      border-color: transparent transparent #000000 transparent;
    }

    &_left {
      border-width: 8px 8px 8px 0;
      border-color: transparent #000000 transparent transparent;
    }

    &_right {
      border-width: 8px 0 8px 8px;
      border-color: transparent transparent transparent #000000;
    }

    &_bottom {
      border-width: 8px 8px 0 8px;
      border-color: #000000 transparent transparent transparent;
    }
  }

  &_der {
    top: 48%;
    left: -18%;
    @media screen and (max-width: 800px) {
      left: 10px;
    }
  }
  &_die {
    top: 48%;
    right: -18%;
    @media screen and (max-width: 800px) {
      right: 10px;
    }
  }

  &_das {
    top: -14%;
    left: 42%;
    @media screen and (max-width: 474px) {
      top: 10px;
    }
  }

  &_next {
    bottom: -14%;
    left: 42%;
    @media screen and (max-width: 474px) {
      bottom: 10px;
    }
  }
}
