.card {
  position: relative;
  height: 100%;

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
  @media screen and (max-width: 474px) {
    min-height: 530px;
  }
  @media screen and (max-width: 375px) {
    min-height: 430px;
  }
}

.inner {
  width: 420px;
  min-height: 650px;

  box-shadow: 0 0 0 6px #1d1f38, 6px 6px 0 6px #0b0b14;;
  padding: 20px;
  background-color: #e1e1e1;
  z-index: 2;


  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  &-correct {
    background-color: rgb(196, 255, 192);
    border: 1px solid rgb(51, 180, 42);
  }
  &_text {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 49px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  &_translate {
    font-size: 1.5rem;
    color: #2e2e2e;
  }

  .line {
    width: 100%;
    height: 5px;
    background-color: #bbbbbb;
  }
  &_img {
    max-height: 320px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 0 0 5px rgb(34, 32, 48);
  }
  & img {
    width: 100%;
    &.hide {
      opacity: 0;
    }
    &.show {
      opacity: 1;
      transition: opasity ease 0.2s;
    }
  }
}

.loader_body {
  width: 420px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
