.card {
  position: relative;
  height: 100%;

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
  @media screen and (max-width: 474px) {
    min-height: 530px;
  }
  @media screen and (max-width: 375px) {
    min-height: 430px;
  }
}

.inner {
  position: absolute;

  width: 420px;
  // height: 100%;
  max-height: 550px;
  // margin: 40px 40px 40px 40px;

  border: 1px solid #e5e5e5;
  box-shadow: -1px 1px 8px 1px rgb(0 0 0 / 4%);
  border-radius: 2%;
  background-color: #ffffff;

  // overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  &-correct {
    background-color: rgb(196, 255, 192);
    border: 1px solid rgb(51, 180, 42);
  }
  &_text {
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }
  &_translate {
    font-size: 34px;
    color: #2e2e2e;
  }

  &_img {
    max-height: 540px;
    overflow: hidden;
    padding: 10px 10px 0 10px;
  }
  & img {
    width: 100%;
    &.hide {
      opacity: 0;
    }
    &.show {
      opacity: 1;
      transition: opasity ease 0.2s;
    }
  }
}

.loader_body {
  width: 420px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
