.cardBody {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  max-width: 80rem;
  
//   background-image: url("../../../../assets/floor.png");
//   background-color: #1c1c25;
//   background-size: 996px;
//   image-rendering: pixelated;
//   image-rendering: crisp-edges;
//   background-position: 313px 5px;
}

.continueLearning {
  z-index: 1;
  border: 1px solid;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  .hint {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5848c4;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 4px -2px 0px #fff, 11px -4px 17px #000000ba;
    letter-spacing: 6px;
    outline: none;
  }

  span {
    font-size: 2rem;
    color: #fff;
    text-shadow: 5px -2px 17px #000000ba;
  }

  .icon {
    width: 70px;
    height: 70px;
    fill: #ffffff00;
  }
}