@use "../../../../styles/mixins" as m;

.article {
  @include m.card;
  border: 1px solid;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: absolute;

  &Arrow {
    @include m.button-controls("../../../../assets/arrow.png");
    width: 20px;
    height: 20px;
    position: absolute;

    &_top {
      top: 62%;
      left: 37%;
      transform: rotate(90deg);
      background-color: #222222;
    }

    &_left {
      top: 62%;
      left: 37%;
      background-color: #222222;
    }

    &_right {
      top: 62%;
      left: 37%;
      transform: rotate(180deg);
      background-color: #222222;
    }

    &_bottom {
      top: 66%;
      left: 43%;
      transform: rotate(-90deg);
      background-color: #222222;
    }
  }

  &_der {
    color: #000;
    top: 54%;
    left: -20%;
    @media screen and (max-width: 800px) {
      left: 10px;
    }
  }
  &_die {
    top: 54%;
    right: -20%;
    color: #000;
    @media screen and (max-width: 800px) {
      right: 10px;
    }
  }

  &_das {
    color: #000;
    top: -15%;
    left: 44%;
    @media screen and (max-width: 474px) {
      top: 10px;
    }
  }

  &_next {
    color: #000;
    bottom: -16%;
    left: 38%;

    @media screen and (max-width: 474px) {
      bottom: 10px;
    }
  }
}
