@use '../../../../styles/variables' as *;

.modal_backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
}
.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  overflow: auto;
  display: flex;
  justify-content: center;

  background-color: #323241;
  position: relative;
  width: 100%;
  height: 100%;

  .top {
    position: absolute;
    inset: 0;
    background-image: url("../../../../assets/header.png");
    background-size: 950px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-position-y: top;
    background-repeat: repeat-x;
    z-index: 1;
  }
}

.learnArticles  {
  background-color: $color1;

  &::after {
    content: "Начать изучение";
    position: absolute;
    inset: 0;
    color: rgba(48, 48, 48, 0.404);
    font-size: 20rem;
    overflow: hidden;
  }
}

.einEineTrainer {
  background-color: $color2;

  &::after {
    content: "ein/eine тренажер";
    position: absolute;
    inset: 0;
    color: $color4;
    opacity: 0.3;
    font-size: 19rem;
    overflow: hidden;
  }
}

.articleSprint {
  background-color: $color3;

    &::after {
    content: "Cпринт по артиклям";
    position: absolute;
    inset: 0;
    color: $color1;
    opacity: 0.3;
    font-size: 18.7rem;
    overflow: hidden;
  }
}

.mistakeReview {
  background-color: $color5;
  &::after {
    content: "Мои ошибки";
    position: absolute;
    inset: 0;
    color: $color3;
    opacity: 0.3;
    font-size: 20rem;
    overflow: hidden;
  }

  > .top {
    display: none;
  }
}
.pluralTrainer {
background-color: $color4;
color: $color1;

  &::after {
    content: "Множественное число";
    position: absolute;
    inset: 0;
    color: $color2;
    opacity: 0.4;
    font-size: 20rem;
    overflow: hidden;
  }
}
.translateMaster {
  background-color: $color5;

    &::after {
    content: "Мастер перевода";
    position: absolute;
    inset: 0;
    color: $color1;
    opacity: 0.3;
    font-size:20rem;
    overflow: hidden;
  }
}
